<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Aanvraag inhaal examens</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
  </head>
  <body>
    <h1>Aanvraag ingeven inhaalexamen</h1>
    <br /><br />
    <ul class="inschrijving">
      <% for(var i=0; i < inschrijvingen.length; i++) {%>
      <li class="inschrijving">
        <span><b>Naam: ></b><%= inschrijvingen[i].Naam %></span><br />
        <span><b>Examen: ></b><%= inschrijvingen[i].Examen %></span><br />
        <span><b>Reden: ></b><%= inschrijvingen[i].Reden %></span><br />
        <span><b>Datum: ></b><%= inschrijvingen[i].Datum %></span><br />
      </li>
      <% } %>
    </ul>
    <br />

    <a href="/add"> Aanvraag indienen</a>
  </body>
</html>
