<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Aanvraag inhaal examens</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
  </head>
  <body>
    <h1>Aanvraag ingeven inhaalexamen</h1>
    <br /><br />
    <ul class="aanvraag">
      <span><b><Naam: ></b></span>
    </ul>
  </body>
</html>
