<div style="text-align:center">
  <h1>Voeg hier uw recept toe aan de lijst!</h1>

  <form (ngSubmit)="ReceptenLijst()">
    <div class="form-group" [formGroup]="search">
      <label for="naam">Naam recept:</label>
      <input type="text" formControlName="naam" /> <br />
      <label for="aantal_caloriën">Aantal caloriën:</label>
      <input type="text" formControlName="aantal_caloriën" /> <br />
      <label for="ingrediënten">Ingrediënten van het recept</label>
      <input type="text" formControleName=" ingrediënten" /> <br />
      <label for="benodigde_tijd">Benodigde tijd</label>
      <input type="text" formControlName="benodigde_tijd" />
    </div>
    <br />
    <button
      type="submit"
      class="btn btn-success"
      (ngSubmit)="ReceptToevoegen()"
    >
      aanmaken
    </button>
  </form>
</div>
<router-outlet></router-outlet>
